@page
@model IndexModel
@{
    ViewData["Title"] = "Artists page";
}

<div class="text-left">
    <h1 class="display-4">Artist Management</h1>

    <p>
        <a asp-page="Create">Add New Artist</a>
    </p>

    <table class="table">

    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Biography
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Artists)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Biography)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
