{% load bootstrap4 %}
{% bootstrap_css %}

<div class="card">
    <div class="card-header">
        <h1>Kategori Listesi</h1>
        <p>Bu listeden ilgili kategoride yer alan kitap alıntılarına gidebilirsiniz.</p>
    </div>
    {% if category_list %}
        <div class="card-body" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                {% for c in category_list %}
                    <li class="list-group-item"><a href="/quoteworld/category/{{ c.id }}/">{{ c.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>Sanırım hiçbir kategori eklenmiş değil.</p>
    {% endif %}
</div>