@page
@model GameWorldWeb.Pages.CompaniesModel
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

<div class="row">
    <h1 class="display-2">Oyun Üreticileri</h1>
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>Firma</th>
            </tr>
        </thead>
        <tbody>
            @foreach(string name in Model.Companies)
            {
                <tr>
                    <td>@name</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row">
    <p>Oyun firması bilgileriniz giriniz</p>
    <form method="POST">
        <div><input asp-for="Company.Name"/></div>
        <div><input asp-for="Company.Description"/></div>
        <input class="btn btn-primary" type="submit"/>
    </form>
</div>